<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
</head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<style>
.box{
text-align:center;
width:50%;
margin:20%;
}
</style>
<body>

<div class="box">
	<form action="/login" method="post">
		<div class="lg-6 sm-12 md-12 gap-2">
			<fieldset>
			<input class="form-control" type="text" name ="username" placeholder="UserName" required>
				
		</fieldset>
		</div>
		<div class="lg-6 sm-12 md-12 gap-2">
			<fieldset>
			<input  class="form-control"type="text" name ="password" placeholder="Password" required>
				
		</fieldset>
		</div>
		<div class="gap-2">
		
			<button class="btn-primary  " type="submit" >Login</button>
				
		</div>
	</form>
</div>
  
</body>
</html>